:root {
  --primary: #000fff;
  --secondary: #010101;
  --bg: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--bg);
  color: #010101;
  /*background-image: url(../img/1.jpg);*/
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.navbar-first {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 7%;
  background-color: #1e90ff;
  border-bottom: 2px solid #1e90ff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.navbar-first .navbar-logo {
  font-size: 2rem;
  font-weight: 700;
  color: #fff;
  font-style: italic;
  /*background-color: #fff;*/
}

.navbar-first .navbar-logo span {
  color: var(--bg);
}

.container {
  position: relative;
  max-width: 1250px;
  margin: 1rem;
  margin-top: 5rem;
  padding: 1.5rem;
  padding-bottom: 2rem;
  font-size: 1rem;
  background-color: #B3E5FC;
  /*background-color: #7fffd4;*/
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  border-radius: 8px;
}

input[type=text] {
  width: 100%;
  padding: 12px 20px; 
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=file] {
  width: 100%;
  padding: 12px 20px; 
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  box-sizing: border-box;
}

.mb-2 input[type="date"],
.mb-2 input[type="file"],
.mb-2 select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 16px;
}

label {
  color: #010101;
}

.isi textarea {
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  margin-top: 6px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

form .mb-2 {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  margin-top: 18px;
  text-decoration: none;
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
}

.mb-2 a {
  justify-content: center;
  background-color: #006400;
  padding-top: 7.5px;
  color: #fff;
  font-size: 1rem;
  width: 150px;
  height: 40px;
}

.mb-2 a:hover {
  color: var(--secondary);
}

.btn-simpan {
  background-color: #000fff ;
  margin-top: 25px;
  color: #fff;
  font-size: 1rem;
  width: 150px;
  height: 40px;
}

.btn-simpan:hover {
  color: var(--secondary);
}